<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventapprentice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.example.eventapprentice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.eventapprentice.CreateNewEvent"
            android:label="@string/title_activity_create_new_event" >
        </activity>
        <activity
            android:name="com.example.eventapprentice.ImportGuestList"
            android:label="@string/title_activity_import_guest_list"
            android:parentActivityName="com.example.eventapprentice.CreateNewEvent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eventapprentice.CreateNewEvent" />
        </activity>
        <activity
            android:name="com.example.eventapprentice.GetExistingEvents"
            android:label="@string/title_activity_get_existing_events" >
        </activity>
        <activity
            android:name="com.example.eventapprentice.ListExistingEvents"
            android:label="@string/title_activity_list_existing_events"
            android:parentActivityName="com.example.eventapprentice.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eventapprentice.MainActivity" />
        </activity>
        <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity android:name="com.facebook.LoginActivity" android:label="@string/app_name"></activity>
        <activity android:name="com.example.eventapprentice.ImportFBEvent" android:label="@string/app_name"></activity>
    </application>

</manifest>
